@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

.Main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #2C0B39;
  background-image: url(./Assests/image\ 2.png);
}

.Logo {
  top: 8vh;
  position: absolute;
  left: 36vw;
}

.Logo img {
  width: 28vw;
}

.Text {
  position: absolute;
  margin: auto;
  width: 100vw;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4vw;
  top: 28vh;
  line-height: 51px;
  color: #FFFFFF;
}

.Commingsoon {
  position: absolute;
  left: 20vw;
  top: 28vw;
}

.Commingsoon img {
  width: 60vw;
}

.Rocket {
  position: absolute;
  bottom: 7vw;
  left: 31vw;
  z-index: 1;

}

.Rocket img {
  width: 38vw;

}

.Overlay {
  position: relative;
  height: 100vh;
}

.Smoke img {
  width: 100vw;
  height: 10vw;
}

.Smoke {
  position: absolute;
  bottom: 0px;
}


.OverlayText {
  position: absolute;
  width: 100vw;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 38px;
  bottom: 1.5vw;
  color: #2C0B39;
}