@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

.Main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #2C0B39;
  background-image: url(./Assests/image\ 2.png);
  overflow: hidden;
}

.Logo {
  top: 1vh;
  position: absolute;
  width: 100vw;
}

.Logo img {
  width: 35vh;
}

.Text {
  position: absolute;
  margin: auto;
  width: 100vw;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 4vh;
  top: 16vh;
  line-height: 51px;
  color: #EFF0F1;
}

.Commingsoon {
  position: absolute;
  width: 100vw;
  top: 30vh;
}

.Commingsoon img {
  width: 60vw;
}

.Rocket {
  position: absolute;
  bottom: 3vh;
  width: 100vw;
  z-index: 1;

}

.Rocket img {
  height: 40vh;

}

.Overlay {
  position: relative;
  height: 100vh;
}

.Smoke img {
  width: 100vw;
  height: 10vh;
}

.Smoke {
  position: absolute;
  bottom: 0px;
}


.OverlayText {
  position: absolute;
  width: 100vw;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  bottom: 0px;
  color: #2C0B39;


}

@media screen and (max-width: 1000px) {
  .Logo {
    top: 8vh;
    position: absolute;
    width: 100vw;
  }

  .Logo img {
    width: 28vw;
    
  }

  .Text {
    position: absolute;
    margin: auto;
    width: 100vw;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4vw;
    top: 16vw;
    line-height: 51px;
    color: #EFF0F1;
  }

  .Commingsoon {
    position: absolute;
    width: 100vw;
    top: 25vw;
  }

  .Commingsoon img {
    width: 60vw;
  }

  .Rocket {
    position: absolute;
    bottom: 5vh;
    width: 100vw;
    z-index: 1;

  }

  .Rocket img {
    width: 62vh;
    height: 33vh;

  }

  .Overlay {
    position: relative;
    height: 100vh;
  }

  .Smoke img {
    width: 100vw;
    height: 10vh;
  }

  .Smoke {
    position: absolute;
    bottom: 0px;
  }


  .OverlayText {
    position: absolute;
    width: 100vw;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    line-height: 38px;
    bottom: 0px;
    color: #2C0B39;

  }
}


@media screen and (max-width: 600px) {
  .Logo {
    top: 15vh;
    position: absolute;
    width: 100vw;
  }

  .Logo img {
    width: 168px;
  }

  .Text {
    position: absolute;
    margin: auto;
    width: 100vw;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 14.4px;
    top: 25vh;
    line-height: 51px;
    color: #EFF0F1;
  }

  .Commingsoon {
    position: absolute;
    width: 100vw;
    top: 40vh;
  }

  .Commingsoon img {
    width: 360px;
  }

  .Rocket {
    position: absolute;
    bottom: 10vh;
    width: 100vw;
    z-index: 1;

  }

  .Rocket img {
    width: 50vh;
    height: 30vh;

  }

  .Overlay {
    position: relative;
    height: 100vh;
  }

  .Smoke img {
    width: 100vw;
    height: 100px;
  }

  .Smoke {
    position: absolute;
    bottom: 0px;
  }


  .OverlayText {
    position: absolute;
    width: 100vw;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 38px;
    bottom: 0px;
    color: #2C0B39;

  }
}
@media screen and (max-width: 375px) {


  .Commingsoon {
    position: absolute;
    width: 100vw;
    top: 40vh;
  }

  .Commingsoon img {
    width: 40vh;
  }

}